<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.VdmslEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/etool/vdm.gif"
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description"
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editorScope"
            name="%context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.category"
            name="%category.name">
      </category>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.category"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.handler.VdmslDictionarySearchHandler"
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.dictionarysearch"
            name="%command.name">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.category"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.handler.VdmslSearchHandler"
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.vdmsearch"
            name="%command.name.0">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.dictionarysearch"
            contextId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+D">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.vdmsearch"
            contextId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.toolbar">
            <command
                  commandId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.vdmsearch"
                  icon="icons/etool/search_vdm.gif"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.isActiveEditor">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.dictionarysearch"
                  icon="icons/etool/search_dic.gif"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.isActiveEditor">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.explorer.explorerExtension">
      <fileExtension
            editorId="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor"
            extensions="vdmsl, vdm">
      </fileExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor.isActiveEditor">
         <or>
            <with
                  variable="activeEditorId">
               <equals
                     value="jp.ac.kyushu_u.csce.modeltool.vdmslEditor.editor">
               </equals>
            </with>
         </or>
      </definition>
   </extension>
</plugin>
