<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            associatedExtensionId="org.overture.ide.ui.vdmNavigatorContent"
            menuGroupId="org.overture.ide.ui.vdm"
            type="new"
            wizardId="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.wizard.dictionary">
         <enablement>
            <or>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_PP">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_PP">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_PP">
                  </test>
               </adapt>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_SL">
                  </test>
               </adapt>
               <adapt
                     type="org.overture.ide.core.resources.IVdmProject">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFolder">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.overture.ide.core.resources.dialect"
                        value="VDM_RT">
                  </test>
               </adapt>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.overture.ide.ui.wizard"
            class="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.wizard.NewDictionaryWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/etool/dictionary.gif"
            id="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.wizard.dictionary"
            name="%wizard.name"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="false">
      </wizard>
      <primaryWizard
            id="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.wizard.dictionary">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.overture.ide.ui.VdmExplorer?after=org.eclipse.ui.OpenFileAction">
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.opendictionary"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="jdd">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.handler.OpenDictionaryHandler"
            id="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.opendictionary"
            name="%command.name.0">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="jp.ac.kyushu_u.csce.modeltool.modeltoolForOverture.ModelToolOverturePlugin">
      </startup>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.outputModel">
      <modelEditor
            editorId="org.overture.ide.vdmpp.ui.VdmPpEditor"
            key="vdmpp">
      </modelEditor>
      <modelEditor
            editorId="org.overture.ide.vdmsl.ui.VdmSlEditor"
            key="vdmsl">
      </modelEditor>
      <modelEditor
            editorId="org.overture.ide.vdmrt.ui.VdmRtEditor"
            key="vdmrt">
      </modelEditor>
   </extension>

</plugin>
