<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tableTabInitializer" name="TableTabInitializer" schema="schema/tableTabInitializer.exsd"/>
   <extension-point id="fileLoader" name="FileLoader" schema="schema/fileLoader.exsd"/>
   <extension-point id="wordChecker" name="WordChecker" schema="schema/wordChecker.exsd"/>
   <extension-point id="formalModel" name="FormalModel" schema="schema/formalModel.exsd"/>
   <extension-point id="outputModel" name="outputModel" schema="schema/outputModel.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="jp.ac.kyushu_u.csce.modeltool.viewcategory"
            class="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.DictionaryView"
            icon="icons/edic/dic.gif"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="toolbar:jp.ac.kyushu_u.csce.modeltool.dictionaryview">
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.undo"
               disabledIcon="icons/ddic/undo.gif"
               icon="icons/edic/undo.gif"
               label="%command.label.24"
               style="push"
               tooltip="%command.tooltip.16">
         </command>
         <!-- 辞書ビュー内に表示するためツールバーからは削除
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.outputmodel"
               disabledIcon="icons/ddic/export.gif"
               icon="icons/edic/export.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.changemode"
               disabledIcon="icons/ddic/mode.gif"
               icon="icons/edic/mode.gif"
               label="%command.label.0"
               style="toggle"
               tooltip="%command.tooltip.0">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.tool.separator0"
               visible="true">
         </separator>
         -->
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.redo"
               disabledIcon="icons/ddic/redo.gif"
               icon="icons/edic/redo.gif"
               label="%command.label.25"
               style="push"
               tooltip="%command.tooltip.17">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.tool.separator5"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.add"
               disabledIcon="icons/ddic/plus.gif"
               icon="icons/edic/plus.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.remove"
               disabledIcon="icons/ddic/delete.gif"
               icon="icons/edic/delete.gif"
               label="%command.label.2"
               style="push"
               tooltip="%command.tooltip.2">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.up"
               disabledIcon="icons/ddic/up.gif"
               icon="icons/edic/up.gif"
               label="%command.label.3"
               style="push"
               tooltip="%command.tooltip.3">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.down"
               disabledIcon="icons/ddic/down.gif"
               icon="icons/edic/down.gif"
               label="%command.label.4"
               style="push"
               tooltip="%command.tooltip.4">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.tool.separator1"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.cut"
               disabledIcon="icons/ddic/cut.gif"
               icon="icons/edic/cut.gif"
               label="%command.label.5"
               style="push"
               tooltip="%command.tooltip.5">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.copy"
               disabledIcon="icons/ddic/copy.gif"
               icon="icons/edic/copy.gif"
               label="%command.label.6"
               style="push"
               tooltip="%command.tooltip.6">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.paste"
               disabledIcon="icons/ddic/paste.gif"
               icon="icons/edic/paste.gif"
               label="%command.label.7"
               style="push"
               tooltip="%command.tooltip.7">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.tool.separator2"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.information"
               disabledIcon="icons/ddic/info.gif"
               icon="icons/edic/info.gif"
               label="%command.label.9"
               style="push"
               tooltip="%command.tooltip.9">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.tool.separator4"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.create"
               disabledIcon="icons/ddic/new.gif"
               icon="icons/edic/new.gif"
               label="%command.label.10"
               style="push"
               tooltip="%command.tooltip.10">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.load"
               disabledIcon="icons/ddic/folder.gif"
               icon="icons/edic/folder.gif"
               label="%command.label.11"
               style="push"
               tooltip="%command.tooltip.11">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.save"
               disabledIcon="icons/ddic/save.gif"
               icon="icons/edic/save.gif"
               label="%command.label.12"
               style="push"
               tooltip="%command.tooltip.12">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:jp.ac.kyushu_u.csce.modeltool.dictionaryview">
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.import"
               disabledIcon="icons/ddic/import_dic.gif"
               icon="icons/edic/import_dic.gif"
               label="%command.label.22"
               style="push"
               tooltip="%command.tooltip.14">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.export"
               disabledIcon="icons/ddic/export_dic.gif"
               icon="icons/edic/export_dic.gif"
               label="%command.label.23"
               style="push"
               tooltip="%command.tooltip.15">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.menu.separator1"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.addposition"
               disabledIcon="icons/ddic/under.gif"
               icon="icons/edic/under.gif"
               label="%command.label.8"
               style="toggle"
               tooltip="%command.tooltip.8">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryview.menu.separator2"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.openPreference"
               disabledIcon="icons/ddic/preference.gif"
               icon="icons/edic/preference.gif"
               label="%command.label.13"
               style="push"
               tooltip="%command.tooltip.13">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:jp.ac.kyushu_u.csce.modeltool.dictionaryview.table.context">
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.add"
               disabledIcon="icons/ddic/plus.gif"
               icon="icons/edic/plus.gif"
               label="%command.label.14"
               style="push">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.remove"
               disabledIcon="icons/ddic/delete.gif"
               icon="icons/edic/delete.gif"
               label="%command.label.15"
               style="push">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.up"
               disabledIcon="icons/ddic/up.gif"
               icon="icons/edic/up.gif"
               label="%command.label.16"
               style="push">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.down"
               disabledIcon="icons/ddic/down.gif"
               icon="icons/edic/down.gif"
               label="%command.label.17"
               style="push">
         </command>
         <separator
               name="jp.ac.kyushu_u.csce.modeltool.dictionaryView.popup.separator1"
               visible="true">
         </separator>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.cut"
               disabledIcon="icons/ddic/cut.gif"
               icon="icons/edic/cut.gif"
               label="%command.label.18"
               style="push">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.copy"
               disabledIcon="icons/ddic/copy.gif"
               icon="icons/edic/copy.gif"
               label="%command.label.19"
               style="push">
         </command>
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.paste"
               disabledIcon="icons/ddic/paste.gif"
               icon="icons/edic/paste.gif"
               label="%command.label.20"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:jp.ac.kyushu_u.csce.modeltool.dictionaryview.tab.context">
         <command
               commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.rename"
               label="%command.label.21"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.add"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.remove"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.down"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_DOWN">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.up"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ARROW_UP">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.cut"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.copy"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.paste"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.addposition"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.information"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.load"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.save"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+S">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.create"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+N">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.openPreference"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.add"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+ENTER">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.changemode"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.outputmodel"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+W">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.undo"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Z">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.redo"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Y">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.import"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+I">
      </key>
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.export"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.rename"
            contextId="jp.ac.kyushu_u.csce.modeltool.dictionaryviewScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+R">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            name="%category.name">
      </category>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.CreateHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.create"
            name="%command.name">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.LoadHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.load"
            name="%command.name.0">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.save"
            name="%command.name.1">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.add"
            name="%command.name.2">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.remove"
            name="%command.name.3">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.up"
            name="%command.name.4">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.down"
            name="%command.name.5">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.information"
            name="%command.name.6">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.cut"
            name="%command.name.7">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.copy"
            name="%command.name.8">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.paste"
            name="%command.name.9">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.OpenPreferenceHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.openPreference"
            name="%command.name.10">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.AddPositionHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.addposition"
            name="%command.name.11">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.ChangeModeHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.changemode"
            name="%command.name.12">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            description="%command.description"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.outputmodel"
            name="%command.name.13">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.RenameHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.rename"
            name="%command.name.14">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            defaultHandler="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.handler.ImportHandler"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.import"
            name="%command.name.15">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.export"
            name="%command.name.16">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.undo"
            name="%command.name.17">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.dictionaryview.edit"
            id="jp.ac.kyushu_u.csce.modeltool.dictionaryview.redo"
            name="%command.name.18">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="jp.ac.kyushu_u.csce.modeltool.preference"
            class="jp.ac.kyushu_u.csce.modeltool.dictionary.preference.DictionaryPreferencePage"
            id="jp.ac.kyushu_u.csce.modeltool.preference.dictionary"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.ac.kyushu_u.csce.modeltool.dictionary.preference.DictionaryPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="jp.ac.kyushu_u.csce.modeltool.viewcategory"
            class="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.edit.DictionaryEditView"
            icon="icons/edic/dic.gif"
            id="jp.ac.kyushu_u.csce.modeltool.dictionary.editview"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.formalModel">
      <model
            class="jp.ac.kyushu_u.csce.modeltool.dictionary.dict.model.VDMPPModel"
            key="vdmpp"
            name="%model.name">
      </model>
   </extension>
</plugin>
