<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.formalModel">
      <model
            class="jp.ac.kyushu_u.csce.modeltool.vdmrt.model.VdmrtModel"
            key="vdmrt"
            name="%model.name">
      </model>
   </extension>
</plugin>
