<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.ac.kyushu_u.csce.modeltool.base.preference.ToolPreferencePage"
            id="jp.ac.kyushu_u.csce.modeltool.preference"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.ac.kyushu_u.csce.modeltool.base.preference.BasePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.ac.kyushu_u.csce.modeltool.viewcategory"
            name="%category.name">
      </category>
   </extension>
<!--   <extension
         point="org.eclipse.ui.views">
      <view
            category="jp.ac.kyushu_u.csce.modeltool.viewcategory"
            class="jp.ac.kyushu_u.csce.modeltool.base.explorer.ExplorerView"
            icon="icons/etool/explorer.gif"
            id="jp.ac.kyushu_u.csce.modeltool.explorerview"
            name="%view.name"
            restorable="true">
      </view>
   </extension> -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description"
            id="jp.ac.kyushu_u.csce.modeltool.explorerviewScope"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
      <!--
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="ファイル"
            id="jp.ac.kyushu_u.csce.modeltool.explorerview.category"
            name="ファイル">
      </category>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.explorerview.category"
            id="jp.ac.kyushu_u.csce.modeltool.explorerview.refresh"
            name="リフレッシュ">
      </command>
      <command
            categoryId="jp.ac.kyushu_u.csce.modeltool.explorerview.category"
            id="jp.ac.kyushu_u.csce.modeltool.explorerview.rename"
            name="名前の変更">
      </command>
   </extension>
      -->
</plugin>
