<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.SpecEditor"
            contributorClass="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.SpecEditorActionBarContributor"
            extensions="txt,xls,xlsx,html"
            icon="icons/etool/validate.gif"
            id="jp.ac.kyushu_u.csce.modeltool.speceditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description"
            id="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
            name="%context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
<extension point="org.eclipse.ui.menus">
  <menuContribution
        allPopups="false"
        locationURI="popup:org.eclipse.ui.popup.any?before=top">
    <menu
          id="jp.ac.kyushu_u.csce.modeltool.speceditor.verify"
          label="%menu.label"
          mnemonic="T">
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout"
            disabledIcon="icons/dedit/mark.gif"
            icon="icons/eedit/mark.gif"
            label="%command.label"
            mnemonic="x"
            style="push">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.subword"
            disabledIcon="icons/dedit/pickup2.gif"
            icon="icons/eedit/pickup2.gif"
            label="%command.label.9"
            mnemonic="k"
            style="push">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect"
            disabledIcon="icons/dedit/check.gif"
            icon="icons/eedit/check.gif"
            label="%command.label.0"
            mnemonic="i"
            style="push">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.folding"
            disabledIcon="icons/dedit/folding.gif"
            icon="icons/eedit/folding.gif"
            label="%command.label.1"
            mnemonic="w"
            style="toggle">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.link"
            disabledIcon="icons/dedit/link.gif"
            icon="icons/eedit/link.gif"
            label="%command.label.12"
            mnemonic="l"
            style="toggle">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.switchmode"
            disabledIcon="icons/dedit/mode.gif"
            icon="icons/eedit/mode.gif"
            label="%command.label.2"
            mnemonic="s"
            style="toggle">
      </command>
      <command
            commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.regex"
            disabledIcon="icons/dedit/regex.gif"
            icon="icons/eedit/regex.gif"
            label="%command.label.3"
            mnemonic="r"
            style="toggle">
      </command>
      <visibleWhen>
         <reference
               definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActivePart">
         </reference>
      </visibleWhen>
    </menu>
  </menuContribution>
  <menuContribution
        locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
     <toolbar
           id="jp.ac.kyushu_u.csce.modeltool.toolbar">
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout"
              disabledIcon="icons/dedit/mark.gif"
              icon="icons/eedit/mark.gif"
              id="jp.ac.kyushu_u.csce.modeltool.speceditor.toolbar.pickout"
              style="pulldown"
              tooltip="%command.tooltip">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect"
              disabledIcon="icons/dedit/check.gif"
              icon="icons/eedit/check.gif"
              style="push"
              tooltip="%command.tooltip.0">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.folding"
              disabledIcon="icons/dedit/folding.gif"
              icon="icons/eedit/folding.gif"
              style="toggle"
              tooltip="%command.tooltip.1">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.link"
              disabledIcon="icons/dedit/link.gif"
              icon="icons/eedit/link.gif"
              style="toggle"
              tooltip="%command.tooltip.4">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.switchmode"
              disabledIcon="icons/dedit/mode.gif"
              icon="icons/eedit/mode.gif"
              style="toggle"
              tooltip="%command.tooltip.2">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.regex"
              disabledIcon="icons/dedit/regex.gif"
              icon="icons/eedit/regex.gif"
              style="toggle"
              tooltip="%command.tooltip.3">
           <visibleWhen>
              <reference
                    definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
              </reference>
           </visibleWhen>
        </command>
     </toolbar>
  </menuContribution>
  <menuContribution
        locationURI="menu:org.eclipse.ui.main.menu">
     <menu
           label="%menu.label.0"
           mnemonic="v">
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout"
              disabledIcon="icons/dedit/mark.gif"
              icon="icons/eedit/mark.gif"
              label="%command.label.4"
              mnemonic="x"
              style="push">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.subword"
              disabledIcon="icons/dedit/pickup2.gif"
              icon="icons/eedit/pickup2.gif"
              label="%command.label.10"
              mnemonic="k"
              style="push">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect"
              disabledIcon="icons/dedit/check.gif"
              icon="icons/eedit/check.gif"
              label="%command.label.5"
              mnemonic="i"
              style="push">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.folding"
              disabledIcon="icons/dedit/folding.gif"
              icon="icons/eedit/folding.gif"
              label="%command.label.6"
              mnemonic="w"
              style="toggle">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.link"
              disabledIcon="icons/dedit/link.gif"
              icon="icons/eedit/link.gif"
              label="%command.label.13"
              mnemonic="l"
              style="toggle">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.switchmode"
              disabledIcon="icons/dedit/mode.gif"
              icon="icons/eedit/mode.gif"
              label="%command.label.7"
              mnemonic="s"
              style="toggle">
        </command>
        <command
              commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.regex"
              disabledIcon="icons/dedit/regex.gif"
              icon="icons/eedit/regex.gif"
              label="%command.label.8"
              mnemonic="r"
              style="toggle">
        </command>
        <visibleWhen>
           <reference
                 definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
           </reference>
        </visibleWhen>
     </menu>
  </menuContribution>
  <menuContribution
        allPopups="false"
        locationURI="menu:jp.ac.kyushu_u.csce.modeltool.speceditor.toolbar.pickout">
     <command
           commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.subword"
           disabledIcon="icons/dedit/pickup2.gif"
           icon="icons/eedit/pickup2.gif"
           label="%command.label.11"
           mnemonic="k"
           style="push">
     </command>
  </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+P">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+I">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.folding"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+W">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.switchmode"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+S">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.regex"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+R">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.subword"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+F">
   </key>
   <key
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.link"
         contextId="jp.ac.kyushu_u.csce.modeltool.speceditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M3+L">
   </key>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         description="%category.description"
         id="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         name="%category.name">
   </category>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout"
         name="%command.name">
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect"
         name="%command.name.0">
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         defaultHandler="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.WordwrapHandler"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.folding"
         name="%command.name.1">
      <state
            class="org.eclipse.ui.handlers.RegistryToggleState:false"
            id="org.eclipse.ui.commands.toggleState">
      </state>
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         defaultHandler="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.LinkHandler"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.link"
         name="%command.name.5">
      <state
            class="org.eclipse.ui.handlers.RegistryToggleState:false"
            id="org.eclipse.ui.commands.toggleState">
      </state>
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         defaultHandler="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.SwitchInspectModeHandler"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.switchmode"
         name="%command.name.2">
      <state
            class="org.eclipse.ui.handlers.RegistryToggleState:false"
            id="org.eclipse.ui.commands.toggleState">
      </state>
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         defaultHandler="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.SwitchRegExHandler"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.regex"
         name="%command.name.3">
      <state
            class="org.eclipse.ui.handlers.RegistryToggleState:false"
            id="org.eclipse.ui.commands.toggleState">
      </state>
   </command>
   <command
         categoryId="jp.ac.kyushu_u.csce.modeltool.toolbar.category"
         id="jp.ac.kyushu_u.csce.modeltool.speceditor.subword"
         name="%command.name.4">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.PickoutHandler"
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.pickout">
      <enabledWhen>
         <reference
               definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActivePart">
         </reference>
      </enabledWhen>
   </handler>
   <handler
         class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.InspectHandler"
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.inspect">
      <enabledWhen>
         <reference
               definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActivePart">
         </reference>
      </enabledWhen>
   </handler>
   <handler
         class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.handler.SubwordHandler"
         commandId="jp.ac.kyushu_u.csce.modeltool.speceditor.subword">
      <enabledWhen>
         <reference
               definitionId="jp.ac.kyushu_u.csce.modeltool.speceditor.isActivePart">
         </reference>
      </enabledWhen>
   </handler>
</extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="jp.ac.kyushu_u.csce.modeltool.speceditor.isActivePart">
         <or>
            <with
                  variable="activePartId">
               <equals
                     value="jp.ac.kyushu_u.csce.modeltool.speceditor">
               </equals>
            </with>
         </or>
      </definition>
      <definition
            id="jp.ac.kyushu_u.csce.modeltool.speceditor.isActiveEditor">
         <or>
            <with
                  variable="activeEditorId">
               <equals
                     value="jp.ac.kyushu_u.csce.modeltool.speceditor">
               </equals>
            </with>
         </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="jp.ac.kyushu_u.csce.modeltool.preference"
            class="jp.ac.kyushu_u.csce.modeltool.spec.preference.SpecPreferencePage"
            id="jp.ac.kyushu_u.csce.modeltool.preference.spec"
            name="%page.name">
      </page>
      <page
            category="jp.ac.kyushu_u.csce.modeltool.preference"
            class="jp.ac.kyushu_u.csce.modeltool.spec.preference.InspectionPreferencePage"
            id="jp.ac.kyushu_u.csce.modeltool.preference.inspection"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.ac.kyushu_u.csce.modeltool.spec.preference.SpecPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.tableTabInitializer">
      <initializer
            class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.TableTabInitializer">
      </initializer>
      <initializer
            class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.EditorLinkInitializer">
      </initializer>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.fileLoader">
      <loader
            class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.TableTabFileLoader">
      </loader>
   </extension>
   <extension
         point="jp.ac.kyushu_u.csce.modeltool.dictionary.wordChecker">
      <checker
            class="jp.ac.kyushu_u.csce.modeltool.spec.speceditor.RegExChecker">
      </checker>
   </extension>
</plugin>
